body{
  background-image: url("webbackground.jpg");
  background-position: center;
  background-size: cover;
  margin: 120px 400px;
  text-align: center;
}

h1{
  font: 90px helvetica;
  font-style: oblique;
  color: white;
  background: rgb(250, 100, 0);
  border-radius: 30px;
  border: 5px solid;
  padding: 20px;
}

ul{
  list-style: none;
  margin-bottom: 90px;
  margin-right: 90px;
  text-align: center;
}

.classproject{
  font: 50px helvetica;
  font-style: normal;
  text-decoration-line: none;
  color: white;
  border-radius: 30px;
  border: 5px solid;
  padding: 10px;
}

.classproject:hover{
  background-color: white;
}

.home{
  font: 45px helvetica;
  color: white;
  text-align: center;
  text-decoration-line: none;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  background: rgba(230, 50, 90, 0.8)
}

.home:hover
{
  background-color: white;
}

.project{
  font: 60px helvetica;
  font-style: normal;
  color: white;
  text-decoration: none;
  background: rgb(250, 100, 0);
  border-radius: 30px;
  border: 5px solid;
  padding: 20px;
}

.project:hover
{
  background-color: white;
}
